!.gitignore
*.[oa]
*.tar.gz
*.7z
*.sublime-project
*.sublime-workspace
*/bin/
*.bak
*/*.cmake
*/Makefile
!bench_sketch/Makefile
*/CMakeCache.txt
*/CMakeFiles/
#bench_sketch/raw_data_experiment/
bench_sketch/requests/
bench_sketch/reverse/
bench_sketch/throughputs_test/
bench_sketch/timetest/
bench_sketch/workingsets/
bench_sketch/benchmarks/
bench_sketch/settings/
*.~
bench_sketch/bench_client
bench_sketch/bench_client_r
bench_sketch/bench_query_gen
bench_sketch/bench_update_gen
bench_sketch/cut
bench_sketch/data4hash
bench_sketch/data4hash2
bench_sketch/bench_client4Real
bench_sketch/bench_query_gen4Real2
bench_sketch/bench_query_gen4Real
